.card-img-top {
  height: 350px;
}
.swipcard11 {
  width: 300px;
  height: 200px;
}
.swipcard22 {
  width: 300px;
  height: 200px;
}
.swipcard33 {
  width: 300px;
  height: 200px;
}
.swipcard44 {
  width: 300px;
  height: 200px;
}
.swipcard55 {
  width: 300px;
  height: 200px;
}
.swipcard66 {
  width: 300px;
  height: 200px;
}
.swipcard77 {
  width: 300px;
  height: 200px;
}
.swipcard88 {
  width: 300px;
  height: 200px;
}
.swipcard99 {
  width: 300px;
  height: 200px;
}

.swiper-horizontal {
  margin-bottom: 45px;
}
